* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myToDo li {
    list-style: none;
}

.myToDo > h1 {
    text-align: center;
    color: #0a6ebd;
    margin: 10px 0;
}

.myToDo > div {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.myToDo .ToDoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ToDoBox > div {
    width: 100%;
    max-width: 600px;
}

.getToDo {
}

.getToDo label {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid #E5E5E5;
}

.getToDo input {
    box-shadow: 0 0 6px 1px #66666666 inset;
    background: none;
    outline: none;
    border: none;
    flex: 1;
    height: 100%;
    font-size: 16px;
    padding: 0 20px;
}

.getToDo button {
    border: 1px solid #3797e3;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background: #3797e3;
    color: white;
}

.ToDo ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ToDo .ToDoList {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
}

.ToDoList div {
    display: flex;
    gap: 15px;
}

.ToDoList button {
    background: none;
    border: none;
}

/*功能样式*/
.ToDo .ability {
    flex-direction: row;
    justify-content: space-between;
}

.ToDo .ability a {
    text-decoration: none;
    color: #656565;
}

.ToDo .ability select {
    border: none;
    outline: none;
}