
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a:link {
    text-decoration: none;
}


/*main*/
.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.main_focus {
    position: relative;
    user-select: none;
}

.focus {
    width: 400%;
    display: flex;
    justify-content: start;
    transition: all 1s;
}

.focus_li {
    width: 25%;
    position: relative;
    top: 0;
    left: 0;
}

.focus_a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.focus_a li {
    width: 30px;
    height: 10px;
    float: left;
    margin-left: 8px;
    background: rgba(253, 253, 253, 0.5);
}

.focus_a .focus_moveLi {
    background: rgb(253, 253, 253);
    transition: all 1000ms;

}

.move {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 100%;
}

.move li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: inherit;
}
.move:hover li:last-child {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0));
}
.move:hover li {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0));
}
.move:hover li span {
    opacity: 1;
}
.move span {
    opacity: 0;
    color: white;
    font-size: 40px;
}
