<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link href="./CSS/demo1.css" rel="stylesheet">
    <link href="https://at.alicdn.com/t/c/font_4624650_xzruk1vyfmj.css" rel="stylesheet">

</head>
<body>
<div id="root">
    <div id="header">
        <div class="headerLeft">
            <img alt="" src="./images/logo/logo.png">
        </div>
        <div class="headerRight">
            <ul class="headerR_ul">
                <li class="headerRL headerR_li">
                    <ul>
                        <li class="headerRL_li"><a href=""><i class="iconfont icon-bijiben"></i>OA办公系统</a></li>
                        <li class="headerRL_li"><a href=""><i class="iconfont icon-ziliaoku"></i>教学系统</a></li>
                        <li class="headerRL_li"><a href=""><i class="iconfont icon-icon-test"></i>工单系统</a></li>
                    </ul>
                </li>
                <li class="headerRR headerR_li">
                    <ul>
                        <li><a href="">前端讲师 <i class="iconfont icon-sanjiao"></i></a></li>
                        <li><a href="">M <i class="iconfont icon-sanjiao"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="contentL">
            <ul class="contentL_ul">
                <li :key="itemA.id" class="navs_li" v-for="itemA in navs">
                    <p>
                        <i :class="itemA.iconClass" class="iconfont"></i>
                        <span>{{itemA.title}}</span>
                        <i class="iconfont icon-xiajiantou"></i>
                    </p>
                    <ul id="navInternal_ul">
                        <li class="navInternal" v-for="itemB in itemA.nav">{{itemB}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contentR"></div>
    </div>

</div>
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                navs: [
                    {
                        id: 1, iconClass: "icon-shezhi", title: "教学系统",
                        nav: ["系统首页"]
                    }, {
                        id: 2, iconClass: "icon-rili", title: "班级管理",
                        nav: ["系统首页"]
                    }, {
                        id: 3, iconClass: "icon-job", title: "就业管理",
                        nav: ["系统首页"]
                    }, {
                        id: 4, iconClass: "icon-renwu", title: "教学管理",
                        nav: ["系统首页"]
                    }, {
                        id: 5, iconClass: "icon-zhuzhuangtu", title: "考试管理",
                        nav: ["系统首页"]
                    }, {
                        id: 6, iconClass: "icon-fenbi", title: "讲师管理",
                        nav: ["系统首页"]
                    }, {
                        id: 7, iconClass: "icon-renwu", title: "测试管理",
                        nav: ["系统首页"]
                    }, {
                        id: 8, iconClass: "icon-renwuliebiao", title: "取消座位管理",
                        nav: ["系统首页"]
                    }, {
                        id: 9, iconClass: "icon-renqun", title: "逆战学员分配",
                        nav: ["系统首页"]
                    }, {
                        id: 10, iconClass: "icon-renqun", title: "学员异动管理",
                        nav: ["系统首页"]
                    }
                ]

            }
        }
    })
    let navs_li = document.getElementsByClassName("navs_li");
    let navInternal = document.getElementsByClassName("navInternal");

    navs_li[0].className = "current_navs"
    navInternal[0].className = "navInternal current_nav"
</script>

</body>
</html>