<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link href="./CSS/demo3.css" rel="stylesheet">
    <link href="https://at.alicdn.com/t/c/font_4624650_qpf0xhpu7lg.css" rel="stylesheet">

</head>
<body>
<div id="root">
    <div class="header">
        <div class="logoDiv">
            <a href="">
                <img alt="" src="./images/demo3_logo.png">
            </a>
        </div>
        <ul>
            <li><a href="">会员登录</a></li>
            <li><a href="">会员注册</a></li>
        </ul>
    </div>
    <div class="nav">
        <div>
            <ul>
                <li v-for="item in navs"><a href="">{{item}}</a></li>
            </ul>
            <label>
                <input placeholder="请输入关键字" type="text">
                <i class="iconfont icon-Magnifier"></i>
            </label>

        </div>
    </div>
    <div class="main">
        <div class="focus">
            <ul>
                <li v-for="item in focus">
                    <img :src="item" alt="">
                </li>
            </ul>
        </div>
        <div class="demNews">
            <ul>
                <li v-for="item in news">
                    <a href="">
                        <ul class="newsSub">
                            <li class="">
                                <h5>{{item.title}}</h5>
                                <p>{{item.text}}</p>
                            </li>
                            <li><img :src="item.img" :title="item.title" alt=""></li>
                        </ul>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="footer">
        <div>
            <div class="footerLeft">
                <ul>
                    <li class="links" v-for="items in footer">
                        <p>{{items.title}}</p>
                        <ul>
                            <li v-for="item in items.links"><a href="">{{item}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footerRight">
                <ul>
                    <li class="footLogo"><img alt="" src="./images/demo3_logo.png"></li>
                    <li class="moveNum">
                        <p>服务热线：020-36685219</p>
                    </li>
                    <li class="a"></li>
                </ul>
            </div>
        </div>

    </div>

</div>
<div class="KeFu"><a href="">
    <img alt="" src="./images/demo3_ad.png">
</a></div>
<div class="pageFooter">
    <div>
        <div class="pageFoot_Left">
            <span>COPYRIGHT 2003-2015 广州美殿商贸有限公司</span>
        </div>

        <div class="pageFoot_Right">
            <ul>
                <li><a href="">流量统计</a></li>
                <li><a href="">网站统计</a></li>
                <li><a href="">友情链接</a></li>
                <li><a href="">法律声明</a></li>
            </ul>
        </div>

    </div>
</div>
<script>
    new Vue({
        el: "#root",
        data() {
            return {
                navs: ["首页", "生活方式", "家具类别", "关于美典", "新闻中心", "联系我们"],
                focus: [
                    "./images/demo3_focus1.png"
                ],
                news: [
                    {title: "全国代理商", text: "NATIONAL AGENTS", img: "./images/demo3_new1.png"},
                    {title: "新品、进口馆", text: "NEW IMPORT MUSEUM", img: "./images/demo3_new2.png"},
                    {title: "客户分享", text: "CUSTOMERS TO SHARE", img: "./images/demo3_new3.png"}
                ],
                footer: [{
                    title: "生活方式",
                    links: ["客厅家具", "卧室家具", "餐厅家具", "书房家具", "韩式手绘", "高端家具", "休闲系列", "家居饰品"]
                }, {
                    title: "家具类型",
                    links: ["客厅家具", "卧室家具", "餐厅家具", "书房家具", "韩式手绘", "高端家具", "休闲系列", "家居饰品"]
                }, {
                    title: "关于美典",
                    links: ["公司简介", "发展历程", "公司词条", "企业招聘"]
                }, {
                    title: "新闻中心",
                    links: ["公司新闻", "行业新闻"]
                }, {
                    title: "联系方式",
                    links: ["联系方式", "在线留言"]
                }]

            }
        }
    })
</script>
</body>
</html>