* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

li {
  list-style: none;
}

$wrapWidth: 80%; // 外盒子宽
$mw: 0.5vw; //边距
#root {
  width: $wrapWidth;
  margin: 5px auto;
}

#wrap {
  width: 100%;
  display: flex;

  & > div {
    width: calc(100% / 4 - (#{$mw} * 2));
    margin: 0 $mw;
    //height: 6000px;

    & .colBox {
      display: flex;
      flex-direction: column;

      & img {
        width: 100%;
        border: 1px solid #838383;
      }
    }
  }

}