* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li, a {
  list-style: none;
  text-decoration: none;
  color: black; }

img {
  width: 100%;
  display: block; }

li {
  list-style: none; }

a {
  text-decoration: none; }

html, body {
  font-size: 1vw; }

header {
  box-shadow: 0 2px 11px 2px #e9e9e9b5; }
  header .header {
    width: 80%;
    margin: 0 auto;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header .header .logo {
      padding-bottom: 10px; }
    header .header > nav {
      display: flex;
      align-items: flex-end; }
      header .header > nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center; }
        header .header > nav ul li {
          width: 91px;
          height: 70px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center; }
          header .header > nav ul li.atStyle {
            background: #f75b54; }
            header .header > nav ul li.atStyle a {
              color: white; }
          header .header > nav ul li:hover {
            background: #f75b54; }
            header .header > nav ul li:hover a {
              color: white; }

.slideshow {
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .slideshow ul {
    flex-grow: 1; }
    .slideshow ul:first-child li {
      width: 100%;
      float: left;
      position: relative; }
      .slideshow ul:first-child li div {
        width: 25vw;
        position: absolute;
        top: 14vh;
        left: 22vw;
        color: #faf9f5; }
        .slideshow ul:first-child li div h2 {
          font-weight: 500;
          font-size: 1.9em; }
        .slideshow ul:first-child li div p {
          font-size: 1.5em;
          margin: 0.5vh 0; }
        .slideshow ul:first-child li div button {
          background: none;
          color: #faf9f5;
          border: 1px solid #faf9f5;
          border-radius: 2px;
          width: 10vw;
          height: 7vh;
          margin-top: 1vh;
          font-size: 1em; }
    .slideshow ul:last-child {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .slideshow ul:last-child li {
        width: 1.5vh;
        height: 1.5vh;
        margin: 0 0.5vh 2vh;
        background: white;
        bottom: 0;
        border-radius: 100%; }

.content:nth-child(2) {
  background: #f7f7f7; }
.content > div {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 60px; }
  .content > div h4 {
    line-height: 40px;
    font-size: 2em;
    text-align: center; }
  .content > div > p {
    line-height: 40px;
    color: #9b9a98;
    text-align: center; }
  .content > div .cont_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
    .content > div .cont_1 li {
      background: #ffffff;
      width: calc((100% - 7px) / 6);
      height: 15vh;
      border: 1px solid #ededed;
      border-collapse: collapse; }
      .content > div .cont_1 li a {
        height: 100%;
        display: flex;
        align-items: center; }
.content:nth-child(3) {
  background: #1c1d21; }
  .content:nth-child(3) div h4, .content:nth-child(3) div > p {
    color: white; }
  .content:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; }
    .content:nth-child(3) ul li {
      background-color: #cfcfcf;
      padding: 60px 40px 40px;
      width: calc((100% - 25px) / 3);
      position: relative; }
      .content:nth-child(3) ul li .successImg {
        width: 130px;
        height: 130px;
        display: block;
        background: url("../images/demo1_2.png") no-repeat;
        margin: -130px auto 4vh; }
      .content:nth-child(3) ul li:nth-child(2):before {
        background-position: center; }
      .content:nth-child(3) ul li:nth-child(3):before {
        background-position: bottom; }
      .content:nth-child(3) ul li p {
        text-align: center;
        color: #f75b52;
        line-height: 30px; }
        .content:nth-child(3) ul li p:nth-child(2) {
          font-weight: 700;
          margin-bottom: 10px;
          margin-top: 15px;
          font-size: 18px; }
        .content:nth-child(3) ul li p:nth-child(3) {
          font-size: 16px;
          color: #020405;
          line-height: 26px; }

.cont_success li ul {
  display: flex; }
.cont_success .navs {
  width: 80%;
  margin: 0 auto; }
  .cont_success .navs li {
    width: calc(100% / 4);
    background-color: #676767;
    color: white;
    text-align: center;
    line-height: 32px;
    height: 32px; }
    .cont_success .navs li:hover {
      background: #f75b54;
      font-size: 1.2rem; }
      .cont_success .navs li:hover::after {
        content: '';
        width: 0;
        display: flex;
        border-width: 7px;
        border-style: solid;
        border-color: #f75b54 transparent transparent;
        margin: 0 auto; }
  .cont_success .navs .sanjiao {
    background: #f75b54; }
    .cont_success .navs .sanjiao::after {
      content: '';
      width: 0;
      display: flex;
      border-width: 7px;
      border-style: solid;
      border-color: #f75b54 transparent transparent;
      margin: 0 auto; }
.cont_success .navs_img {
  flex-wrap: wrap;
  justify-content: space-between; }
  .cont_success .navs_img li {
    width: calc((100% - 20px * 2) / 3);
    margin-top: 20px; }

.content_news {
  background: #f2f2f2;
  padding: 30px 0; }
  .content_news > ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .content_news .news {
    width: calc((100% - 30px * 2) / 3); }
    .content_news .news h3:nth-child(1) {
      margin-bottom: 14px; }
    .content_news .news ul a {
      display: flex;
      justify-content: space-between;
      line-height: 4vh;
      color: #767676; }
      .content_news .news ul a:hover {
        color: red;
        font-size: 1.1rem; }
    .content_news .news .btn button {
      border: none;
      background: #f75b54;
      color: white;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px; }
      .content_news .news .btn button a {
        color: white; }

footer {
  height: 14vh;
  background: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  footer a, footer p, footer li {
    color: #7b7b7b; }
  footer a:hover {
    color: red;
    font-size: 1.05rem; }
  footer ul {
    display: flex; }

/*# sourceMappingURL=demo1.css.map */
