li {
    list-style: none;
}

.contentBox {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
}

.tap {

}

.tap ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tap ul button {
    padding: 10px 15px;
    border: none;
    background: none;
    border-radius: 2px;
}

.tap > ul button:hover {
    background: #eeeeee;
}

.showPage {
    border-bottom: 3px solid #0590ab;
}
