* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-height: 600px) {
    html, body, #root {
        width: max-content !important;
        min-width: 100% !important;
        height: max-content !important;
        min-height: 100% !important;
    }
}

@media screen and (max-width: 667px) {
    #header {
        height: 35px !important;

        & .headerLeft {
            width: auto;
        }

        & .headerLeft img {
            height: 100%;
        }
    }

    #content .contentL {
        width: 48px;

        & .navs_li span, i:nth-of-type(2) {
            display: none !important;
        }

        & p::after {
            right: -5px;
            font-size: 19px;
            z-index: 1000;
        }

        & div {
            display: none !important;
        }
    }

    & .contentR {
        width: calc(100% - 48px) !important;
    }

    & #header a {
        line-height: 35px !important;
        font-size: 14px !important;
    }

    /*导航栏*/
    #navInternal_ul .navInternal {
        padding-left: 16px;
        font-size: 12px;
        color: #fdfdfd;
        display: block;

        & span {
            display: none !important;
        }

        &::before {
            content: "\e619";
            color: #418ac8;
            font-family: "iconfont";
        }
    }

}

/*@media screen and (max-width: 2000px){}*/
html, body, #root {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/*header通栏*/
#header a {
    color: #ecf3f8;
}

#header {
    height: 63px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: #418ac8;
}

.headerLeft {
    width: 238px;
    height: 100%;
}

.headerLeft img {
    width: 100%;
}

.headerRight {
    width: calc(90% - 238px);
    height: 100%;
}

.headerR_ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.headerR_li, .headerR_li ul {
    height: 100%;
}

.headerRL {
    min-width: 513px;
}

.headerRL i {
    padding-right: 5px;
    font-size: 25px;
}

.headerRL_li {
    margin: 0 2px;
    padding: 0 25px;

}

#header a {
    display: inline-block;
    height: 100%;
    line-height: 63px;
}

.headerRL_li:hover {
    background: white;
}

#root .headerRL_li:hover a {
    color: #418ac8;
    font-weight: 700;
    border-bottom: 2px solid #418ac8;

}

.headerRR {
    min-width: 154px;
    line-height: 63px;
}

.headerRR i {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 15px;
}

.headerR_ul > li > ul {
    display: flex;
    align-items: center;
}

/*content 内容*/

/*nav 导航栏*/
/*navs 外部导航栏*/
#content {
    width: 100%;
    height: calc(100% - 63px);
    display: flex;
    font-size: 15px;
    background: #fdfdfd;
}

.contentL {
    width: 238px;
    height: 100%;
    background: #f0f0f0;
    border-right: 1px solid #cacaca;
}

.contentL_ul {
    & .navs_li {
        margin-bottom: 1px;
        position: relative;
    }

    background: #fafafa;
    border-right: 1px solid #f0f0f0;
}

.disNav {
    display: block;

    & li:nth-of-type(1) {
        background: #6eb2de;
        font-weight: 700;
        font-size: 1rem;

        &::before {
            color: #fdfdfd !important;
        }

        & span {
            color: #fdfdfd !important;
        }
    }
}

/*给选中的navs_li添加的样式*/
.current_navs {
    & p {
        position: relative;
    }

    & i, span {
        color: #2b7cbb !important;
        font-weight: 700;
    }

    & #navInternal_ul {
        display: block;
    }

    &::after {
        content: "";
        position: absolute;
        box-sizing: content-box;
        border-right: 2px solid #2b7cbb;
        height: 100%;
        top: 0;
        right: -3px;
    }

    & p::after {
        content: "\e608";
        font-family: "iconfont";
        color: #2b7cbb !important;
        position: absolute;
        right: -9px;
        font-size: 30px;
    }

}

.icon-xiajiantou {
    position: absolute;
    right: 15px;
}

.iconfont span {
    margin-right: 50px;
}

.contentL_ul p {
    height: 47px;
    line-height: 47px;
    background: #fdfdfd;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #f0f0f0;
    position: relative;
    padding-left: 14px;

    & span {
        width: 100%;
        height: 100%;
        color: #575757;
        padding-left: 16px;
    }
}

/*内部导航栏*/
#navInternal_ul {
    display: none;
}

.navInternal {
    color: #575757;
    background: #fdfdfd;
    padding-left: 26px;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #e3e3e3;
}

.contentL > div {
    height: 33px;
    text-align: center;

    & img {
        margin-top: 3px;
    }

    border-bottom: 1px solid #dedede;
}

/*main 内容*/
/*contentTop 头部搜索*/

.contentR {
    width: calc(90% - 238px);
    height: 100%;
    min-width: 667px;
}

.contentTop {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 15px;
}

.contentTop > ul {
    display: flex;

    & a {
        color: black;
    }

    & li:nth-child(1) a {
        color: #418ac8;
    }
}

.contentTop label {
    position: relative;
    min-width: 234px;
    font-size: 0.87rem;

    & input {
        width: calc(100% - 55px);
        height: 33px;
        padding: 10px;
        background: none;
        outline: none;
        border: 1px solid #6eb2de;
        border-radius: 3px;
    }

    & i {
        position: absolute;
        right: 12px;
        color: #6eb2de;
    }
}

/*表格*/
.contentMain {
    height: calc(100% - 50px);
    background: #fdfdfd;
    padding-top: 10px;
    padding-left: 40px;
}

.contentMain_a {
    height: calc(90% - 134px);
    border: 1px solid #c3ceda;
    padding: 20px 15px 45px 15px;
}

.content_table {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
    font-size: clamp(1vw, 1vw, 2vw);

    & tr:nth-of-type(1) {
        background: linear-gradient(to bottom, #f8f8f8, #ececec) !important;
    }

    & tr:nth-child(odd) {
        background: #f7f7f7;
    }
}

.content_table td, th {
    padding: 5px 0 5px 11px;

    border: 1px solid #dbdbdb;
    text-align: left;
    color: #7c7c7c;
}

/*下方查看直播按键*/
.contentMain_b {
    height: 120px;
    border: 1px solid #c3ceda;
    border-top: 0;

    & button {
        margin-left: 17px;
        margin-top: 23px;
        background: #3290cf;
        color: #fdfdfd;
        width: 80px;
        height: 76px;
        border: 0;
        font-size: 18px;

        & i {
            font-size: 33px;
        }

    }
}miao200206136510

